.my-card {
  box-shadow: var(--shadow);
  min-width: 400px;
  margin: 2rem;
  border-radius: 0.5rem;
  flex: 1;
  font-family: "Montserrat", sans-serif;
}

:where(.css-dev-only-do-not-override-qnu6hi).ant-card .ant-card-body {
  padding: 1rem;
}

.my-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem auto;
  flex-wrap: wrap;
  gap: 16px;
}

.my-card p {
  margin: 0rem;
}

.ant-card-head-title {
  margin: 0rem;
  font-weight: 600;
}
